*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: red;
  --secondary-color: blue;
  --tertiary-color: green;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  object-fit: contain;
  height: 100px;
  width: 100px;
}
